<section class="flex flex-col h-svh w-screen overflow-hidden">
    <!-- Top Bar -->
    <mat-toolbar color="primary" class="flex justify-between">
      <span class="md:text-2xl sm:text-xl text-sm">Event Manager</span>
      <div>
        <button mat-button routerLink="/home/event-list" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Events</button>
        <button mat-button routerLink="/add-event" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Add Event</button>
        <button mat-button (click)="logout()" class="flex items-center" matTooltip="logout"><mat-icon aria-label="Example icon for logout">logout</mat-icon></button>
      </div>
    </mat-toolbar>

    <!-- Main Content -->
    <div class="flex-grow overflow-auto p-4 w-full mx-auto">
      <ng-content></ng-content>
    </div>
  </section>